.MainText {
  font-size: 12px;
  position: relative;
}

.BuildingText {
 line-height: 16px;
  margin-top: -15px;
  font-size: 32px;
  position: relative;
}

.TitleText {
  font-size: 30px
}

.StarRank {
 font-size: 22px;
 margin: 1px;
 line-height: 10px;
 position: absolute;
 right: 10px;
 top: -10px;
}

.StarRank div {
  display: block;
  margin-left: 5px; /* Adjust the indentation to control the displacement for each line */
}


.TabTest { 
 background: linear-gradient(#007f7f, transparent), rgba(0, 191, 255, 0.25) !important;
	border-color: transparent transparent #00ffff transparent !important;
	box-shadow: 1px 1px 4px rgba(0, 191, 255, 0.5);
	color: #7fffff !important
}

/* Style for the progress bar container */
.progress-bar {
  position: relative;
  width: 200px; /* Set the width of the progress bar container */
  height: 20px; /* Set the height of the progress bar container */
  background-color: #f0f0f0; /* Set the background color of the progress bar container */
  border-radius: 10px; /* Add rounded corners to the progress bar container */
  overflow: hidden; /* Hide any overflow of the progress bar content */
}

/* Style for the progress bar background */
.progress-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4CAF50; /* Set the background color of the progress bar */
  width: 0; /* Initial width of the progress bar (0% progress) */
  border-radius: 10px; /* Add rounded corners to the progress bar */
}

/* Style for the gradient text */
.GradientText {
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/Chrome */
  color: transparent;
  background-image: radial-gradient(circle, #ff0000, #00ff00); /* Adjust colors and shape as needed */
}

.Overheat {
 color: #2b2b2b;
}

.OverheatFull {
 color: #fc9003;
 text-shadow: 0px 0px 10px;
}

.progress-bar {
    width: 200px;
    height: 2px;
    background-color: #e0e0e0;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
  }

  .progress-fill {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    animation: jittery 0.07s linear infinite alternate;
  }

@keyframes jittery {
    0% {
      width: calc(60% + 5px);
    }
    100% {
      width: calc(60% + 10px); /* Adjust the value to increase/decrease the jitter */
    }
  }

.InfoBox {
 text-align: left;
}


  .cen {
  vertical-align: middle;
  margin-top: -5px;
}

.cBreakMKII {
 line-height: 20px;
}

.ide {
 font-size: 7px;
}

.mT {
 resize: both;
 overflow: auto;
}

.custom-dialog {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 20px;
 background-color: rgba(50, 50, 50, 0.8);
 border: 0px solid #ccc;
 box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
 border-radius: 0px;
 z-index: 9999;
 display: none;
}


a {
 color: inherit;
 text-decoration: none;
 cursor: pointer;
}

.hotkey {
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      background-color: #fff;
      color: #000;
      border: 1px solid #000;
      font-family: CRDILight;
      font-size: 12px;
    }
    
    
    
.dith {
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: glowAnimation 2s infinite linear;
}

.dith::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 33.33%, transparent 33.33%, transparent 66.66%, rgba(255, 255, 255, 0.2) 66.66%, rgba(255, 255, 255, 0.2));
  z-index: -1;
}

@keyframes glowAnimation {
  0%, 100% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  }
  50% {
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
  }
}

.int {
 font-weight: bold;
 text-transform: uppercase;
 background: linear-gradient(45deg, transparent 45%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.9) 55%, transparent 55%);
 -webkit-background-clip: text;
 color: transparent;
 animation: glowAnimation 2s infinite linear;
}